/* * {
    border: 1px solid red;
}
*/

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
    margin-top: 250px;
}


.result {
    display: flex;
    justify-content: flex-end;
    padding-right: 34px;
    width: 385px;
}

.result span {
    font-size: 100px;
    color: white;
}

.calKeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 385px;
    gap: 8px;
}

.box {
    display: flex;
    gap: 8px;
}

.flash {
    animation: flash 0.5s;
  }

  @keyframes flash {
    0% {
      background-color: white;
    }
    50% {
      background-color: transparent;
    }
    100% {
      background-color: white;
    }
  }

.button {
    font-size: 32px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: #343434;
}

.grey-button {
    background-color: #a5a5a5;
    color: black;
}

.yellow-button {
    background-color: #FF9F0A;
}

.arithmetic {
    background-color: white;
    color: #FF9F0A;
}

.zero {
    width: 170px;
    border-radius: 80px;
}
